<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to Garlic!
      </h1>
      <h2 class="subtitle">
        You are what you eat
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Cities</p>
          <p class="title">3</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Markets</p>
          <p class="title">140</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Farmers</p>
          <p class="title">324</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Planets</p>
          <p class="title">1</p>
        </div>
      </div>
    </nav>
  </div>
</section>
